<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Online Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books" routerLinkActive="active" aria-current="page">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="(isAdmin$ | async)" routerLink="/users" routerLinkActive="active" aria-current="page">Users</a>
                </li>
            </ul>

            <!-- Login / Logout -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <!-- Login -->
                    <button *ngIf="!(isAuthenticated$ | async)" class="btn btn-outline-success btn-sm"
                        routerLink="/authentication">Login</button>


                    <!-- Authenticated -->
                    <ng-container *ngIf="isAuthenticated$ | async">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/settings" routerLinkActive="active"
                                    aria-current="page">Settings</a>
                            </li>
                            <li class="nav-item">
                                <button *ngIf="isAuthenticated$ | async" class="btn btn-outline-secondary btn-sm"
                                    (click)="onLogout()">Logout</button>
                            </li>
                        </ul>
                    </ng-container>

                </li>
            </ul>

        </div>
    </div>
</nav>

<hr>

<router-outlet></router-outlet>